/* ----- Main Class ----- */

html {
    --color-primary-blue:hsl(230, 29%, 20%);
    --color-primary-red:hsl(0, 100%, 68%);
    --color-secondary-dark-grayish-blue: hsl(230, 11%, 40%);
    --color-secondary-grayish-blue: hsl(231, 7%, 65%);
}

body {
    height: auto;
    overflow-x: hidden;

    font-family: 'Barlow', sans-serif;
}

.container {
    padding: 0px 20%;
}

.btn {
    padding: 10px 20px;

    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 100;
    text-align: center;
    opacity: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.2s, background 0.3s;
}

.button__img {
    width: 20px;
    margin-right: 5px;
}

.button__gray {
    background: rgba(138, 138, 138, 0.6);
}
.button__gray:hover {
    background: rgba(138, 138, 138, 0.8);
}

.button__red {
    background: hsla(0, 100%, 68%, 0.6);
}
.button__red:hover {
    background: hsla(0, 100%, 68%, 0.8);
}

.button__blue {
    background: rgba(73, 192, 252, 0.6);
}
.button__blue:hover {
    background: rgba(73, 192, 252, 0.8);
}

@media only screen and (max-width: 1700px) {
    .container {
        padding: 0px 15%;
    }
}

@media only screen and (max-width: 1450px) {
    .container {
        padding: 0px 10%;
    }
}

@media only screen and (max-width: 1250px) {
    .container {
        padding: 0px 5%;
    }
}

@media only screen and (max-width: 1050px) {
    .container {
        padding: 0px 40px 0px 40px;
    }
}

/* ----- Topbar Style ----- */

.topbar {
    width: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #ffffff;
    padding-bottom: 40px;
}

.topbar__logo {
    display: flex;
    align-items: center;
}

.topbar__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.is-open.topbar__nav {
    transform: translateX(0vw);
}

.nav__link {
    padding: 20px 30px;

    font-size: 18px;
    font-weight: 500;
    color: var(--color-secondary-grayish-blue);

    background: linear-gradient(to top, var(--color-primary-red) 0%, var(--color-primary-red) 5%, transparent 5.01%) no-repeat center bottom / 20% 100%;
    background-size: 20% 100%;

    transition: background-size 0.3s;
}

.active.nav__link {
    color: var(--color-primary-blue);
}

.nav__link:hover {
    background-size: 40% 100%;
}

.topbar__toggle {
    width: 60px;
    width: 60px;
    padding: 10px;
    margin: 15px;

    position: absolute;
    right: 35px; 

    z-index: 1000;

    display: none;
    align-items: center;

    cursor: pointer;
}

.toggle__icon,
.toggle__icon::after,
.toggle__icon::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    border-radius: 2px;
    background: var(--color-primary-blue);
    position: relative;
    transition: all 0.1s ease;
}

.toggle__icon::before {
    top: 10px;
}

.toggle__icon::after {
    top: -13px;
}

.topbar__toggle:hover .toggle__icon::after {
    transform: translateY(-2px);
}

.topbar__toggle:hover .toggle__icon::before {
    transform: translateY(2px);
}

.is-active.toggle__icon {
    background-color: #ffffff;
}.is-active.toggle__icon::before {
    background-color: #ffffff;
}.is-active.toggle__icon::after {
    background-color: #ffffff;
}

/* Media Querry */

@media only screen and (max-width: 1050px) {
    .topbar {
        height: 100px;
        padding-bottom: 20px;
    }

    .topbar__toggle {
        z-index: 100;
        display: flex;
    }

    .topbar__nav {
        width: 100%;
        height: 100vh;
        top: 0; left: 0;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        transform: translateX(100vw);
        transition: 0.4s;
    
        background: var(--color-primary-blue);
        z-index: 20;
    }

    .nav__link {
        color: rgba(255, 255, 255, 0.6);
        font-size: 20px;
    }

    .active.nav__link {
        color: #ffffff;
    }
}


/* ----- Main Section Style ----- */

.main__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__title {
    margin-bottom: 20px;

    font-size: 30px;
    font-family: 'Barlow Condensed';
    font-weight: 100;
    color: var(--color-primary-blue);
}

/* Media Querry */
@media only screen and (max-width: 1050px) {
    .main__section {
        flex-direction: column-reverse;
    }
}


/* ----- Sondage Style ----- */

.sondage__container {
    width: 100%;
    padding-right: 40px;

    display: inline-block;
}

.sondage__link {
    width: 100%;
    height: auto;
    padding: 10px 40px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    border: 1px solid var(--color-secondary-grayish-blue);
    border-radius: 10px;
}

.sondage__left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sondage__user {
    width: 80px;
    height: 80px;

    border-radius: 50%;
}

.sondage__title {
    margin-left: 30px;
    margin-bottom: 5px;

    font-size: 18px;
    color: var(--color-secondary-grayish-blue);
    font-weight: 600;

    transition: color 0.3s;
}

.sondage__date {
    margin-left: 30px;
    color: hsla(235, 7%, 65%, 0.8);
}

.sondage__title:hover {
    color: var(--color-secondary-dark-grayish-blue);
}

.sondage__link .btn {
    margin-left: 10px;
}

.sondage__link .button__red, 
.sondage__link .button__blue {
    opacity: 0;
}

.sondage__link:hover .button__red,
.sondage__link:hover .button__blue {
    opacity: 1;
}

/* Media Querry */
@media only screen and (max-width: 1050px) {
    .sondage__container {
        padding: 0px;
    }

    .sondage__link {
        padding: 20px 40px;
        flex-direction: column;
    }

    .sondage__left div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sondage__user {
        display: none;
    }

    .sondage__title {
        margin-bottom: 5px;

        font-size: 20px;
    }

    .sondage__date {
        margin-bottom: 20px;
    }

    .sondage__button-container {
        display: flex;
        flex-direction: column;
    }

    .sondage__link .button__red, 
    .sondage__link .button__blue {
        opacity: 1;
    }

    .btn {
        padding: 10px 40px;
        margin-top: 10px;

        opacity: 1;
    }
}


/* ----- Sidebar Style ----- */

.sidebar {
    width: 250px;
    height: min-content;
    padding-left: 40px;

    position: -webkit-sticky;
    position: sticky;
    top: 40px;

    border-left: 1px solid var(--color-secondary-grayish-blue);
}

/* Media Querry */
@media only screen and (max-width: 1050px) {
    .sidebar {
        width: 100%;
        padding: 0px;
        margin-bottom: 40px;
        position: relative;
        top: 0px;

        border-left: none;
    }

    .sidebar .btn {
        margin-top: 0px;
    }
}


/* ----- Filter Style ----- */

.filter__container {
    width: 100%;
    margin-bottom: 40px;

    display: inline-flex;
    flex-direction: column;
}

.filter__button {
    padding: 5px;

    display: inline-flex;
    align-items: center;

    transition: transform 0.3s;
}

.filter__button:hover {
    transform: translateX(10px);
}

.filter__button img {
    width: 20px;
}


/* ----- User Container Button Style ----- */

.user__container-button {
    width: 100%;
    height: auto;
}

.user__container-button .btn {
    width: 100%;
    margin-bottom: 10px;
}

/* Media Querry */
@media only screen and (max-width: 1050px) {
    .user__container-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user__container-button .btn {
        width: 80%;
    }
}


/* ----- Footer Style ----- */

.footer {
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-bottom: 40px;
    bottom: 0;
    
    font-weight: 400;
}

.footer div {
    padding-top: 40px;

    border-top: 1px solid var(--color-secondary-grayish-blue);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer a {
    color: var(--color-primary-red);
}